@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
:root {
  --primary-color: #3ab5d1;
  --primary-color-darker: #016c81;
}

* {
  box-sizing: border-box;
  outline: 0;
}